{% extends 'main/base.html' %}
{% load static %}
{% block title %}
О нас
{% endblock %}

{% block content %}
<div class="container-fluid about-top-block">
    <div class="row">
        <div class="col-6 flex-column">
            <h1>Вкусные рецепты легко</h1>
            <div class="about-btn-block">
                <button class="btn">Начните сейчас</button>
                <button class="btn">Обзор рецептов</button>
            </div>
        </div>
        <div class="col-6 image-about-block">
            <img src="{% static 'images/about-image.png' %}" alt="" class="about-image">
        </div>
    </div>
</div>
<div class="container mt-5 col-xxl-6 col-xl-8 col-lg-8 col-md-10 col-sm-12">
    <h2>О нас</h2>
    <br>
    <p>Наш сайт предназначен для тех, кто любит готовить вкусную и разнообразную пищу, но не всегда знает, что
        приготовить. Мы собрали огромную коллекцию рецептов, от классических блюд до экзотических кулинарных изысков. На
        нашем сайте вы можете найти рецепты для завтрака, обеда, ужина и десерта.</p>
    <p>Мы понимаем, что каждый человек имеет свои предпочтения в еде, поэтому мы создали удобный поиск по параметрам. Вы
        можете выбрать тип блюда, продукты, которые вы хотите использовать или исключить из рецепта, а также время
        приготовления и уровень сложности.</p>
    <div class="row flex-row h-3 images-row justify-content-between">
        <img src="{% static 'images/food-img-1.png' %}" alt="">
        <img src="{% static 'images/food-img-2.png' %}" alt="">
        <img src="{% static 'images/food-img-3.png' %}" alt="">
    </div>
</div>
{% endblock %}

