{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Создать рецепт
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Создать рецепт</h1>
        <p>Текст</p>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% crispy form %}

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    {{ form.submit|safe }}
                </div>
            </div>
        </form>
    </div>
{% endblock %}
