{% extends 'main/base.html' %}

{% block title %}
    Создать рецепт
{% endblock %}

{% block content %}
    <h1>Создать рецепт</h1>
    <p>Текст</p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.name }}<br>
        {{ form.description }}<br>
        {{ form.img }}<br>
        {{ form.category.as_widget }}<br>
        {{ form.ingredients.as_widget }}<br>
        {{ form.new_ingredients }}<br>
        <button type="submit" class="btn btn-success">Добавить</button>
        <span>{{error}}</span>
    </form>
{% endblock %}
