{% extends 'main/base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1>Главная страница</h1>
    <p>Текст</p>
    <form method="get" action="{% url 'home' %}">
  <input type="text" name="search" placeholder="Поиск...">

  <select name="category">
    <option value="">Все категории</option>
    <option value="1">Азиатская кухня</option>
    <option value="2">Французская кухня</option>
    <!-- Добавьте остальные варианты категорий -->
  </select>

  <select name="ingredient">
    <option value="">Все ингредиенты</option>
    <option value="Жопа муравья">Жопа муравья</option>
    <option value="Хуй гарилы">Хуй гарилы</option>
    <!-- Добавьте остальные варианты ингредиентов -->
  </select>

  <button type="submit">Применить</button>
</form>
    {% if recipe %}
        {% for element in recipe %}
            <div class="alert alert-warning mt-2">
                <a href="post/{{element.id}}"><h3>{{element.name}}</h3></a>
                <p>{{element.description}}</p>
                <p>{{element.author}}</p>
                <p>{{element.tags}}</p>
                <p>{{element.date_posted}}</p>
                <form method="post" action="{% url 'like' pk=element.pk %}" data-post-id="{{ element.pk }}">
                  {% csrf_token %}
                  {% if user in element.likes.all %}
                    <button type="submit">Убрать лайк</button>
                  {% else %}
                    <button type="submit">Поставить лайк</button>
                  {% endif %}
                </form>
                {% if element.img %}
                    <img height="200px" src="media/{{element.img}}" alt="">
                {% endif %}
            </div>
        {% endfor %}
    {% else %}
        <p>Нет записей</p>
    {% endif %}
{% endblock %}