{% extends 'main/base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container mt-3 d-flex flex-column">

    <h1>Главная страница</h1>
    <form method="get" action="{% url 'home' %}" class="mt-4">
        <div class="row">
            <div class="col-md-4">
                <input type="text" name="search" placeholder="Поиск..." class="form-control">
            </div>
            <div class="col-md-3">
                <select name="category" class="form-select">
                    <option value="">Все категории</option>
                    <option value="1">Итальянская кухня</option>
                    <option value="2">Французская кухня</option>
                    <option value="3">Китайская кухня</option>
                    <option value="4">Японская кухня</option>
                    <option value="5">Индийская кухня</option>
                    <option value="6">Мексиканская кухня</option>
                    <option value="7">Таиландская кухня</option>
                    <option value="8">Греческая кухня</option>
                    <option value="9">Испанская кухня</option>
                    <option value="10">Марокканская кухня</option>
                    <option value="11">Турецкая кухня</option>
                    <option value="12">Бразильская кухня</option>
                    <option value="13">Русская кухня</option>
                    <option value="14">Аргентинская кухня</option>
                    <option value="15">Шведская кухня</option>
                    <option value="16">Южноиндийская кухня</option>
                    <option value="17">Корейская кухня</option>
                    <option value="18">Вьетнамская кухня</option>
                    <option value="19">Ливанская кухня</option>
                    <option value="20">Эфиопская кухня</option>
                </select>
            </div>
            <div class="col-md-3">
                <div class="dropdown">
                    <button class="dropdown-toggle form-select that-form-with-arrow" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <p class="float-start m-0">Выбрать ингредиенты</p>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><select name="ingredient" id="ingredient" class="form-select" multiple>
                            <option value="">Все ингредиенты</option>
                            {% for ingredient in ingredients %}
                            <option value="{{ ingredient.name }}">{{ ingredient.name }}</option>
                            {% endfor %}
                        </select></li>
                    </ul>
                </div>

            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary width100">Применить</button>
            </div>
        </div>
    </form>
        {% if recipe %}
        <div id="card-wrapper" class="container card-wrapper d-inline-flex mx-auto flex-row align-items-start flex-wrap">

            {% for post in recipe %}

            <div id="card" class="card my-2 mx-2">
                {% if post.img %}
                <a href="{% url 'post' post.pk %}">
                    <img height="200px" src="media/{{ post.img }}" class="card-img-top" alt="фото блюда">
                </a>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'post' post.pk %}">{{ post.name }}</a></h5>

                        <p class="card-text my-1"><a href="{% url 'profile' post.author.username %}">{{ post.author }}</a></p>

                <p class="card-text my-1">{{ post.get_ingredients_display }}</p>
                    <div class="date-favorites d-flex flex-row justify-content-between mt-1 align-items-center">
                        <p class="card-text m-0"><small class="text-muted">{{ post.date_posted.date }}</small>
                        </p>

                        <div class="views-block d-flex flex-row">
                        <img src="{% static 'icons/view.png' %}" alt="">
                        <p class="card-text m-0">{{ post.views }}</p>
                        </div>
                        <form method="post" action="{% url 'add_to_favorites' pk=post.pk %}"
                              data-post-id="{{ post.pk }}">
                            {% csrf_token %}
                            {% if user in post.favorites.all %}
                            <button type="submit"
                                    class="btn btn-danger remove-from-favorite btn-favorite d-flex flex-row">
                                <img class="heart-liked" src="{% static 'icons/heart-liked.png' %}"
                                     alt="Heart Liked">
                                <b>{{ post.total_added_to_favorites }}</b>
                            </button>
                            {% else %}
                            <button type="submit"
                                    class="btn btn-primary add-to-favorite btn-favorite d-flex flex-row">
                                <img class="heart" src="{% static 'icons/heart.png' %}" alt="Heart">
                                <b>{{ post.total_added_to_favorites }}</b>
                            </button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>Нет записей</p>
        </div>
        {% endif %}
</div>
</div>
{% endblock %}
