{% extends 'main/base.html' %}

{% block title %}
    {{ post.name }}
{% endblock %}

{% block content %}
<div class="alert alert-warning mt-2">

 <!-- Ссылка на профиль создателя поста -->
        <h3>{{ post.name }}</h3>

    <p>{{ post.description }}</p>
    <a href="{% url 'profile' post.author.username %}">
    <p>{{ post.author }}</p>
    </a>
    <p>{{ post.date_posted }}</p>
    <p>{{ post.views }}</p>
    <p>{{ post.total_added_to_favorites }}</p>
    {% if post.author.userprofile.photo %}  <!-- Проверка наличия аватарки профиля -->
        <img src="{{ post.author.userprofile.photo.url }}" alt="Avatar">  <!-- Отображение аватарки профиля -->
    {% endif %}
</div>
{% endblock %}