{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="row profile d-flex">
    <div class="col">
      <div class="content-section">
      <div class="media d-flex align-items-center align-content-center flex-column ">
    <img class="account-img mb-3" src="{{ user.userprofile.photo.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
          {% if viewing_own_profile %}
          <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ profile_form.as_p }}
          <button type="submit">Сохранить</button>
        </form>
          {% endif %}
    </div>
    </div>
<div class="col">
      {% if viewing_own_profile %}
        <h2>Посты, добавленные в избранное</h2>
        {% if favorites %}
            {% for favorite in favorites %}
                <div class="alert alert-success mt-2">
                    <a href="{% url 'post' favorite.pk %}"><h3>{{ favorite.name }}</h3></a>
                    <p>{{ favorite.description }}</p>
                    <p>{{ favorite.author }}</p>
                    <p>{{ favorite.date_posted }}</p>
                    <!-- Остальные поля поста -->
                </div>
            {% endfor %}
        {% else %}
            <p>Вы пока не добавили ни одного поста в избранное.</p>
        {% endif %}

      {% else %}
        <h2>Посты, добавленные в избранное</h2>
        {% if favorites %}
            {% for favorite in favorites %}
                <div class="alert alert-success mt-2">
                    <a href="{% url 'post' favorite.pk %}"><h3>{{ favorite.name }}</h3></a>
                    <p>{{ favorite.description }}</p>
                    <p>{{ favorite.author }}</p>
                    <p>{{ favorite.date_posted }}</p>
                    <!-- Остальные поля поста -->
                </div>
            {% endfor %}
        {% else %}
            <p>{{ user.username }} пока не добавил ни одного поста в избранное.</p>
        {% endif %}
      {% endif %}
</div>
    </div>

{% endblock content %}